<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Tile>
    <Position>ToolBox0</Position>
    <FileName>2c2.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox1</Position>
    <FileName>2c1.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox2</Position>
    <FileName>2c3.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox3</Position>
    <FileName>2c4.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox4</Position>
    <FileName>BlankWall.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox8</Position>
    <FileName>ud1.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox12</Position>
    <FileName>ud2.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox16</Position>
    <FileName>ud3.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox28</Position>
    <FileName>lr1.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox29</Position>
    <FileName>lr2.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox30</Position>
    <FileName>lr3.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox31</Position>
    <FileName>lr4.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox32</Position>
    <FileName>lr5.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox9</Position>
    <FileName>ud4.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox13</Position>
    <FileName>ud5.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox40</Position>
    <FileName>c1.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox41</Position>
    <FileName>c2.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox42</Position>
    <FileName>c3.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox43</Position>
    <FileName>c4.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox20</Position>
    <FileName>c5.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox21</Position>
    <FileName>c6.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox22</Position>
    <FileName>c7.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
  <Tile>
    <Position>ToolBox23</Position>
    <FileName>c8.png</FileName>
    <Value>NoMovements</Value>
  </Tile>
</Configuration>